html,
body {
  margin: 0;
  padding: 0;
}

#App {
  main {
    margin-left: 10px;
    margin-top: 15px;
  }
  footer {
    margin-top: 5em;
    div {
      width: 100%;
      bottom: 2px;
      text-align: center;
    }
  }
}
